<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
    <button id="protectedButton" style="display: none;">Go to Protected</button>
    <script>
        let accessToken = '';

        document.getElementById("loginForm").addEventListener("submit", async (event) => {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            const response = await fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ username, password }).toString(),
            });

            if (response.ok) {
                const data = await response.json();
                accessToken = data.access_token;
                alert("Login successful! Access token: " + accessToken);
                document.getElementById("protectedButton").style.display = "block"; // Показываем кнопку
            } else {
                alert("Login failed!");
            }
        });
        document.getElementById("protectedButton").addEventListener("click", async () => {
            const response = await fetch("/profile", {
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + accessToken,
                },
            });

            if (response.ok) {
                const html = await response.text();
                document.body.innerHTML = html;
            } else {
                alert("Failed to access protected route!");
            }
        });
    </script>
</body>
</html>